<section class="budget-items-section">
    <div class="budget-items-container">
        <div class="income-column">
            <h1>Income</h1>
            <app-budget-card *ngFor="let item of state.income;let i=index;" [isIncome]="true" [description]="item.description"
                [amount]="item.amount" style="margin-bottom: 20px;" (remove)="state.removeItem(i,true)"></app-budget-card>
        </div>
        <div class="expenses-column">
            <h1>Expenses</h1>
            <app-budget-card *ngFor="let item of state.expenditure;let i=index" [isIncome]="false" [description]="item.description"
                [amount]="item.amount" style="margin-bottom: 20px;" (remove)="state.removeItem(i,false)"></app-budget-card>
        </div>
    </div>
</section>